$themeColor: #F11712; 
$themeColorHover: #2077BB; 
$pageBackground: #fff; 
$lightButtonColor: #ffffff;   
$lightButtonBorderColor: #a0a0a0; 
$lightButtonColorHover: #f1f1f1; 

$black: #18191F; 
$red: #f23e4a;
$blue: #2077BB;
$yellow: #ffdc31;
$gray: #818181;
$dark: #5A5A5A;


.color{color: $themeColor;}
.black{color: $black;}
.blue{color: $blue;} 
.red{color: $red;}
.yellow{color: $yellow;}
.gray{color: $gray;}
.dark{color: $dark;}
